---
import type { CollectionEntry } from "astro:content";

interface Props {
  character: CollectionEntry<"characters">;
}

const { character } = Astro.props;
---

<div class="">
  <h4
    class="font-semibold text-text-primary bg-surface-tertiary text-center py-1 border-b border-hero-red rounded-t-md"
  >
    Description
  </h4>
  {
    character.data.physical_description && (
      <div class="flex flex-row text-xs bg-surface-tertiary bg-opacity-30 rounded-b-md px-2 py-1">
        <blockquote class="max-w-56 text-just italic">
          <p>{character.data.physical_description.physical_prose}</p>
        </blockquote>
        <div class="flex flex-col gap-2 pl-2">
          <div class="flex flex-col gap-0.5">
            <span class="font-semibold">Hair:</span>
            <span>{character.data.physical_description.hair}</span>
          </div>
          <div class="flex flex-col gap-0.5">
            <span class="font-semibold">Eyes:</span>
            <span>{character.data.physical_description.eyes}</span>
          </div>
          <div class="flex flex-col gap-0.5">
            <span class="font-semibold">Skin:</span>
            <span>{character.data.physical_description.skin}</span>
          </div>
          <div class="flex flex-col gap-0.5">
            <span class="font-semibold">Build:</span>
            <span>{character.data.physical_description.build}</span>
          </div>
        </div>
      </div>
    )
  }
</div>
